/* ICONS ------------------------*/

.icons {
	width: 100%;
    display: flex;
    left: 50%;
    top: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 30px;
    /*left: 0;
    right: 0;*/
    z-index: 999;
}
.home-icon.is-selected {
    z-index: 999;
}

.home-icon {
    width: 70px;
    height:70px;

}

.home-icon span {
    width: 35px;
    height: 35px;
    border: 2px solid #eee;
    display: block;
    border-radius: 10px;
    margin-top: 30%;
    z-index: 999;
    visibility: visible !important;
}

/*
    Sidemenu
--------------- */

.overlay .mobile-toggle {
    display: none;
}
.mobile-toggle {
    width: 70px;
    height: 70px;
    margin: 0px 0 0 20px;
    cursor: pointer;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible !important;
}

.mobile-toggle div {
    width: 25px;
    height: 2px;
    background: #eee;
    margin: 4px 0;
    transition: all 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
}
.mobile-toggle.show .one {
    transform: rotate(45deg) translate(5px, 5px);
}
.mobile-toggle.show .two {
    opacity: 0;
}
.mobile-toggle.show .three {
    transform: rotate(-45deg) translate(8px, -9px);
}

/*--- Standby ----*/
#standby{
  z-index: -1;
  position: absolute;

}

/*----*/

.hideUI {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 1s linear;
}

.hideUI.fade {
  visibility: hidden;
  opacity: 0.35;
  transition: visibility 0s 1s, opacity 1s linear;
}

.hideUI. show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 1s linear;

}

/*--- Main Menu -----*/

.main-menu {
    color: white;
    margin: auto;
    /*max-width: 100%;*/
    padding: 20px;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    transition: all ease 0.5s;
    right: 0;
    width: 100px;
    height: 300px;
    bottom: 200px;
    transform: translateX(600%);
    overflow: hidden;
    overflow-y: auto;
    display: block;
    border-radius: 10px 0 0 10px;
    border: 2px solid #eee;
    border-right: 0;
    float: right;
    
    position: absolute;

}
.main-menu.show {
    transform: translateX(350%);
    /* Debugging Purposes
    transform: translateX(160%);
    */
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}
.main-menu ul.navbar-nav {
    margin: 0px 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    text-align: center;
}
ul.navbar-nav>li {
    padding: 10px 0;
}
ul.navbar-nav>li>a {
    color: #eee;
    text-decoration: none;
    display: block;
}
ul.navbar-nav>li>a i{
    font-size: 16px;
    display: block;
    text-align: center !important;
}

.li-t {

font-size: 16px;
margin-bottom: 10%;

}
